<label for="widthInput">Width</label>
<input type="number" #widthInput placeholder=0/>
<label for="heightInput">Height</label>
<input type="number" #heightInput placeholder=0/>
<label for="minesInput">Mines</label>
<input type="number" #minesInput placeholder=0/>
<button (click)="generate(widthInput.value, heightInput.value, minesInput.value)">generate</button>
<div *ngIf="gameActive">
    <div>
        {{uncoveredTiles}} / {{width * height - mines}}<br>
        Mines:{{(mines - flaggedTiles)}}
    </div>
    <div *ngFor="let tileRow of minesMap; let i = index">
        <div style="display: inline;" *ngFor="let tile of tileRow; let j = index">
            <app-tile [gameInteractive]="gameInteractive" [mine]=tile [minesAround]=minesAround[i][j] [flagState]=flagsMap[i][j] [uncovered]=uncoveredMap[i][j] [vertical]=i [horizontal]=j
                (uncoverEvent)="handleUncover($event)" (flagEvent)="handleFlag($event)" (lossEvent)="handleLoss($event)">
            </app-tile>
        </div>
    </div>
</div>