<div class="inputs">
    <label class="inputLabel">
        <input type="text" required #widthInput/>
        <span class="placeholder">Width</span>
        <span class="border"></span>
    </label>
    <label class="inputLabel">
        <input type="text" required #heightInput/>
        <span class="placeholder">Height</span>
        <span class="border"></span>
    </label>
    <label class="inputLabel">
        <input type="text" required #minesInput/>
        <span class="placeholder">Mines</span>
        <span class="border"></span>
    </label>
    <button id="gameStartButton" (click)="generate(widthInput.value, heightInput.value, minesInput.value)">{{buttonMessage}}</button>
</div>
<div class="gameWrapper" *ngIf="gameActive">
    <div class="minefieldRow" *ngFor="let tileRow of minesMap; let i = index">
        <ng-template ngFor let-tile [ngForOf]="tileRow" let-j = "index">
            <app-tile [gameInteractive]="gameInteractive" [mine]=tile [minesAround]=minesAround[i][j] [flagState]=flagsMap[i][j] [uncovered]=uncoveredMap[i][j] [specialHighlight]=specialHighlightMap[i][j] [borders]=bordersMap[i][j] [vertical]=i [horizontal]=j
                (uncoverEvent)="handleUncover($event)" (flagEvent)="handleFlag($event)" (lossEvent)="handleLoss($event)">
            </app-tile>
        </ng-template>
    </div>
    <div class="gameInfo">
        <div class="tilesInfo">
            <button disabled class="tileLookALike"></button>
            <strong>{{uncoveredTiles}} / {{width * height - mines}}</strong>
        </div>
        <div class="flagInfo">
            <i class='material-icons' style="font-size: 52px; color: red; padding-left: 40px;">flag</i>   
            <strong>{{(mines - flaggedTiles)}}</strong>
        </div>
    </div>
</div>