<label for="width">Width</label>
<input type="number" #width placeholder=0/>
<label for="height">Height</label>
<input type="number" #height placeholder=0/>
<label for="mines">Mines</label>
<input type="number" #mines placeholder=0/>
<button (click)="generate(width.value, height.value, mines.value)">generate</button>
<div *ngFor="let tileRow of minesMap; let i = index">
    <div style="display: inline;" *ngFor="let tile of tileRow; let j = index">
        <app-tile [mine]=tile [minesAround]=minesAround[i][j] [flagState]=flagsMap[i][j] [uncovered]=uncoveredMap[i][j] [vertical]=i [horizontal]=j
            (uncoverEvent)="handleUncover($event)" (flagEvent)="handleFlag($event)">
        </app-tile>
    </div>
</div>